* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Barlow, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.navbar a.navbar-brand img {
  width: 100px;
  margin-left: 50px;
}
.navbar .container-fluid .navbar-toggler {
  border-color: rgb(204, 0, 223);
  margin: 25px;
}
.navbar .container-fluid .navbar-toggler:focus {
  box-shadow: black;
}

.collapse.navbar-collapse {
  flex-grow: inherit;
}

@media (max-width: 375px) {
  .collapse.navbar-collapse {
    background-color: black;
  }
}
.nav-link {
  color: rgb(204, 0, 223);
}
.nav-link:focus {
  color: black;
}
.nav-link:hover {
  color: black;
}

.index {
  padding: 2px;
  margin: 2px;
}
@media (max-width: 900px) {
  .index .carousel-padre img {
    height: 500px;
  }
}
@media (max-width: 360px) {
  .index .carousel-padre img {
    margin: 50px;
    padding: 25%;
    object-fit: contain;
    height: 50px;
    width: 100%;
  }
}
.index .fondo {
  background-image: url(/img/fondo_body.png);
  width: 100%;
  height: 360px;
}
.index .fondo .textos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 360px;
  text-align: center;
}
.index h3, .index h4, .index p {
  text-align: center;
  font-weight: bolder;
}
.index .carousel-padre {
  justify-content: center;
}
.index .carousel-padre img {
  height: 550px;
  padding: 5px;
  margin: 2px;
}
.index .boton-p {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.index .boton-p .boton {
  background-color: black;
  color: white;
  border-color: rgb(204, 0, 223);
  margin: 20px;
}
.index .boton-p .boton:hover {
  background: rgb(204, 0, 223);
}

.nosotros .backg-abus {
  background-color: rgb(240, 209, 243);
}
.nosotros .backg-abus .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px;
}
@media (max-width: 375px) {
  .nosotros .backg-abus .grid-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
.nosotros .backg-abus .texto {
  grid-column: 1;
}
.nosotros .backg-abus .texto h1 {
  font-size: 30px;
}
.nosotros .backg-abus .texto .h2 {
  font-size: 18px;
}
.nosotros .backg-abus .texto p {
  font-size: 16px;
}
.nosotros .backg-abus .texto :is(.texto h1, h2, p) {
  margin: 20px;
}
.nosotros .backg-abus .image {
  grid-column: 2;
  align-self: center;
}
.nosotros .backg-abus .image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.tienda {
  background-color: rgb(240, 209, 243);
  padding: 20px;
  margin: 10px;
}
.tienda h1,
.tienda h2 {
  text-align: center;
  margin: 25px;
  padding: 5px;
}
.tienda .cont-prod {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.tienda .producto {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.457);
  border-radius: 5px;
  text-align: center;
}
.tienda .producto img {
  width: 150px;
  height: 150px;
}
.tienda .producto .boton {
  background-color: rgb(204, 0, 223);
  color: white;
  margin: 20px;
  padding: 5px;
}
.tienda .producto .boton:hover {
  background: black;
}
@media (max-width: 360px) {
  .tienda .tienda .cont-prod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .tienda .tienda h1,
  .tienda .tienda h2 {
    margin: 25px;
    padding: 5px;
  }
}

.portfolio .tiktok {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
@media (max-width: 360px) {
  .portfolio .tiktok {
    width: 100%;
    flex-flow: column;
    padding: 3px;
    margin: 3px;
  }
}

@media (max-width: 900px) {
  .contacto .contenedor_contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}
@media (max-width: 375px) {
  .contacto .contenedor_contacto {
    width: 100%;
  }
}
.contacto .contenedor_contacto {
  display: flex;
  background-color: rgb(240, 209, 243);
}
.contacto .contenedor_contacto img {
  width: 60%;
  opacity: 80%;
  margin: 25px;
  border-radius: 5px;
}
.contacto .contenedor_contacto .contenedor_form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.contacto .contenedor_contacto h1 {
  font-size: 20px;
  margin: 5px;
}
.contacto .contenedor_contacto h2 {
  font-size: 15px;
  margin: 15px;
}
.contacto .form {
  padding: 10px;
}
.contacto .form input[type=text],
.contacto .form [type=email],
.contacto .form [id=mensaje] {
  color: #333;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: bolder;
  background-color: rgb(241, 176, 247);
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  border-style: dashed;
  border-radius: 5px;
}
.contacto .form input[type=submit] {
  height: 50px;
  width: 150px;
  border-radius: 3px;
  font-weight: 600;
  background-color: black;
  color: white;
  font-size: 18px;
}
.contacto .form input[type=submit]:hover {
  color: black;
  background: rgb(204, 0, 223);
}

.foot {
  width: 100%;
  bottom: 0;
  height: 300px;
  padding: 25px;
}
.foot img {
  height: 100px;
  padding: 20px;
}
.foot .iconos {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
.foot a,
.foot p {
  text-decoration: none;
  color: rgb(204, 0, 223);
}

@media (max-width: 375px) {
  .foot {
    display: flex;
    justify-content: center;
  }
  .foot a,
  .foot p {
    text-decoration: none;
    color: rgb(204, 0, 223);
    font-size: 10px;
  }
  .iconos {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
