* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Barlow, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
}
.navbar a {
  color: rgb(204, 0, 223);
}
.navbar ul {
  text-decoration: none;
  align-items: center;
}
.navbar img {
  width: 100px;
  margin-left: 1vh;
}
@media screen and (min-width: 340px) {
  .navbar img {
    margin-left: 2vh;
  }
}
@media screen and (min-width: 768px) {
  .navbar img {
    margin-left: 4vh;
  }
}
@media screen and (min-width: 1024) {
  .navbar img {
    margin-left: 8vh;
  }
}
@media screen and (min-width: 1280px) {
  .navbar img {
    margin-left: 2vh;
  }
}
.navbar .navbar-toggler {
  border-color: rgb(204, 0, 223);
  margin: 25px;
}
.navbar .navbar-toggler:focus {
  box-shadow: black;
}
.navbar .navbar-collapse {
  flex-grow: inherit;
}

.index {
  background: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  padding: 2px;
  margin: 2px;
  z-index: 0;
}
.index .fondo {
  background-image: url(/img/fondo_body.png);
  width: 100%;
  height: 360px;
  z-index: 1;
}
.index .fondo .textos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 360px;
  text-align: center;
}
.index h1 {
  font-weight: bold;
}
@media screen and (min-width: 340px) {
  .index h1 {
    font-size: 45px;
  }
}
@media screen and (min-width: 480px) {
  .index h1 {
    font-size: 60px;
  }
}
@media screen and (min-width: 768px) {
  .index h1 {
    font-size: 80px;
  }
}
@media screen and (min-width: 1024) {
  .index h1 {
    font-size: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .index h1 {
    font-size: 90px;
  }
}
.index h2 {
  font-weight: bold;
}
@media screen and (min-width: 340px) {
  .index h2 {
    font-size: 25px;
  }
}
@media screen and (min-width: 480px) {
  .index h2 {
    font-size: 35px;
  }
}
@media screen and (min-width: 768px) {
  .index h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024) {
  .index h2 {
    font-size: 120px;
  }
}
@media screen and (min-width: 1280px) {
  .index h2 {
    font-size: 60px;
  }
}
.index p {
  font-weight: bold;
}
@media screen and (min-width: 340px) {
  .index p {
    font-size: 15px;
    margin: 0;
  }
}
@media screen and (min-width: 480px) {
  .index p {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .index p {
    font-size: 20px;
  }
}
.index h3 {
  text-align: center;
  font-size: 45px;
}
@media screen and (min-width: 340px) {
  .index h3 {
    font-size: 25px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 480px) {
  .index h3 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .index h3 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024) {
  .index h3 {
    font-size: 55px;
    background-color: black;
  }
}
.index .carousel-padre {
  justify-content: center;
}
@media screen and (min-width: 340px) {
  .index .carousel-padre img {
    height: 200px;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 480px) {
  .index .carousel-padre img {
    height: 300px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .index .carousel-padre img {
    height: 450px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1024) {
  .index .carousel-padre img {
    height: 650px;
    margin-bottom: 50px;
  }
}
.index .carousel-padre .text-car {
  padding: 5px;
  margin-bottom: 20px;
}
.index .boton-p {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.index .boton-p .boton {
  background-color: rgb(204, 0, 223);
  color: white;
  margin: 20px;
  padding: 5px;
}
.index .boton-p .boton:hover {
  background: black;
}

.nosotros .backg-abus {
  background: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  height: auto;
}
.nosotros .backg-abus .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
@media screen and (min-width: 330px) {
  .nosotros .backg-abus .grid-container {
    margin: 25px 30px 0px 25px;
  }
}
@media screen and (max-width: 1024px) {
  .nosotros .backg-abus .grid-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 25px;
  }
}
.nosotros .backg-abus .texto {
  grid-column: 1;
  text-align: left;
}
.nosotros .backg-abus .texto h1 {
  font-weight: bold;
  font-size: 35px;
  margin-left: 20px;
}
@media screen and (min-width: 340px) {
  .nosotros .backg-abus .texto h1 {
    font-size: 20px;
    margin-top: 25px;
  }
}
@media screen and (min-width: 480px) {
  .nosotros .backg-abus .texto h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .nosotros .backg-abus .texto h1 {
    font-size: 40px;
    text-align: center;
  }
}
@media screen and (min-width: 1024) {
  .nosotros .backg-abus .texto h1 {
    font-size: 50px;
  }
}
.nosotros .backg-abus .texto h2 {
  text-align: left;
  margin-left: 20px;
}
@media screen and (min-width: 340px) {
  .nosotros .backg-abus .texto h2 {
    font-size: 15px;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .nosotros .backg-abus .texto h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .nosotros .backg-abus .texto h2 {
    font-size: 18px;
    text-align: center;
  }
}
@media screen and (min-width: 1024) {
  .nosotros .backg-abus .texto h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .nosotros .backg-abus .texto h2 {
    font-size: 15px;
  }
}
.nosotros .backg-abus .texto p {
  text-align: left;
  margin: 20px;
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .nosotros .backg-abus .texto p {
    text-align: center;
  }
}
.nosotros .backg-abus .image {
  grid-column: 2;
  margin: 25px 25px 20px 0;
}
.nosotros .backg-abus .image img {
  height: 400px;
  width: 90%;
  border-radius: 5px;
}
@media screen and (min-width: 340px) {
  .nosotros .backg-abus .image img {
    height: auto;
    margin: 0px 0px 25px 25px;
  }
}
@media screen and (min-width: 768px) {
  .nosotros .backg-abus .image img {
    margin-left: 60px;
  }
}

.tienda {
  background: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  max-width: 1000px;
  margin: auto;
}
.tienda h1,
.tienda h2 {
  text-align: center;
  margin: 5px 0px 15px 0px;
  padding: 5px;
}
.tienda .cont-prod {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 20px 60px 20px;
}
.tienda .cont-prod .producto {
  width: 200px;
  height: 350px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.457);
  border-radius: 5px;
  text-align: center;
}
.tienda .cont-prod .producto img {
  width: 150px;
  height: 150px;
}
.tienda .cont-prod .producto .boton {
  background-color: rgb(204, 0, 223);
  color: white;
  margin: 20px;
  padding: 5px;
}
.tienda .cont-prod .producto .boton:hover {
  background: black;
}

git .portfolio .tiktok {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
@media (max-width: 480px) {
  git .portfolio .tiktok {
    width: 100%;
    flex-flow: column;
    padding: 3px;
    margin: 3px;
  }
}

.contacto {
  background: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .contacto {
    flex-direction: column;
    align-items: center;
  }
}
.contacto .img_contacto img {
  height: 400px;
  opacity: 70%;
  margin: 20px;
  justify-self: center;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .contacto .img_contacto img {
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  .contacto .img_contacto img {
    width: 450px;
    height: 350px;
  }
}
@media screen and (max-width: 340px) {
  .contacto .img_contacto img {
    width: 300px;
    height: 350px;
  }
}
.contacto .contenedor_form {
  background: linear-gradient(60deg, #fccb90 0%, #d57eeb 100%);
  box-shadow: #0d0d0d;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .contacto .contenedor_form {
    width: auto;
  }
}
.contacto .contenedor_form h1 {
  font-size: 20px;
  margin: 5px;
  font-size: bolder;
}
.contacto .contenedor_form h2 {
  font-size: 15px;
  margin: 15px;
}
.contacto .contenedor_form :is(h1, h2) {
  text-align: center;
}
.contacto .contenedor_form .form input[type=text],
.contacto .contenedor_form .form [type=email],
.contacto .contenedor_form .form [id=mensaje] {
  color: #333;
  font-size: 15px;
  font-family: Barlow, sans-serif;
  font-weight: bolder;
  background-color: rgb(241, 176, 247);
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
  border-style: dashed;
  border-radius: 5px;
}
.contacto .contenedor_form .form input[type=submit] {
  height: 50px;
  width: 150px;
  border-radius: 15px;
  font-weight: 600;
  background-color: black;
  color: white;
  font-size: 15px;
}
.contacto .contenedor_form .form input[type=submit]:hover {
  color: black;
  background: rgb(204, 0, 223);
}

.foot {
  width: 100%;
  bottom: 0;
  padding: 25px;
}
.foot img {
  height: 80px;
  width: 80px;
  padding: 20px;
}
.foot .iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
.foot :is(a, p) {
  text-decoration: none;
  color: rgb(204, 0, 223);
}
@media (max-width: 340px) {
  .foot :is(a, p) {
    font-size: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
