//colores
$color-primary: rgb(204, 0, 223);
$color-secondary: black;
$color-light: rgb(240, 209, 243);
$gradient: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);

//break points
$xs:340px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$max-width: 100%;