.foot {
	width: 100%;
	bottom: 0;
	padding: 25px;

	img {
		height: 80px;
		width: 80px;
		padding: 20px;
	}


	.iconos {
		
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		text-align: center;
	}


	:is(a, p){

		text-decoration: none;
		color: $color-primary;
		@media (max-width:340px) {	
			font-size: 10px;
		}
	}


}	

	
	




	
