// index

.index {


    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);

    padding: 2px;
    margin: 2px;

    .fondo {
        background-image: url(/img/fondo_body.png);
        width: 100%;
        height: 360px;

        .textos {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 360px;
            text-align: center;
        }
    }

    h1 {

        font-weight: bold;

        @media screen and (min-width: 340px) {
            font-size: 45px;
        }

        @media screen and (min-width: 480px) {
            font-size: 60px;
        }


        @media screen and (min-width: 768px) {

            font-size: 80px;
        }

        @media screen and (min-width: 1024) {

            font-size: 60px;

        }

        @media screen and (min-width: 1280px) {
            font-size: 120px;

        }


    }


    h2 {


        font-weight: bold;

        @media screen and (min-width: 340px) {
            font-size: 25px;
        }

        @media screen and (min-width: 480px) {
            font-size: 35px;
        }


        @media screen and (min-width: 768px) {

            font-size: 40px;
        }

        @media screen and (min-width: 1024) {

            font-size: 120px;

        }

        @media screen and (min-width: 1280px) {
            font-size: 60px;

        }

    }


    p {


        font-weight: bold;
        margin: 2px;

        @media screen and (min-width: 340px) {
            font-size: 15px;
        }

        @media screen and (min-width: 480px) {
            font-size: 18px;

        }


        @media screen and (min-width: 768px) {

            font-size: 20px;
        }



    }


    h3 {


        text-align: center;

        @media screen and (min-width: 340px) {
            font-size: 25px;
            margin-top: 50px;
        }

        @media screen and (min-width: 480px) {
            font-size: 30px;
        }


        @media screen and (min-width: 768px) {

            font-size: 40px;
        }

        @media screen and (min-width: 1024) {

            font-size: 55px;

        }

        @media screen and (min-width: 1280px) {
            font-size: 60px;

        }





    }

    .carousel-padre {

        justify-content: center;

        img {

            @media screen and (min-width: 340px) {
                height: 200px;
                padding: 5px;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            @media screen and (min-width: 480px) {
                height: 300px;
                margin-bottom: 50px;
            }


            @media screen and (min-width: 768px) {
                height: 450px;
                margin-bottom: 50px;
            }

            @media screen and (min-width: 1024) {
                height: 650px;
                margin-bottom: 50px;

            }

            @media screen and (min-width: 1280px) {
                height: 650px;
                margin-bottom: 50px;
            }

        }
    }

    .boton-p {

        display: flex;
        justify-content: center;
        margin: 20px;

        .boton {
            @include boton;

        }
    }
}



//about us

.nosotros {

    .backg-abus {
        
        background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin: 20px;

        }

        .texto {
            grid-column: 1;

            h1 {

                font-weight: bold;
                text-align:left;

                @media screen and (min-width: 340px) {
                    font-size: 25px;
                    
                }
        
                @media screen and (min-width: 480px) {
                    font-size: 30px;
                }
        
        
                @media screen and (min-width: 768px) {
        
                    font-size: 40px;
                }
        
                @media screen and (min-width: 1024) {
        
                    font-size: 80px;
        
                }
        
                @media screen and (min-width: 1280px) {
                    font-size:45px;
        
                }
        
        
            }

            h2 {
               
                text-align:left;

                @media screen and (min-width: 340px) {
                    font-size: 15px;
                    
                }
        
                @media screen and (min-width: 480px) {
                    font-size: 20px;
                }
        
        
                @media screen and (min-width: 768px) {
        
                    font-size: 25px;
                }
        
                @media screen and (min-width: 1024) {
        
                    font-size: 40px;
        
                }
        
                @media screen and (min-width: 1280px) {
                    font-size:25px;
        
                }
        
            }

            p {

                text-align:left;

                @media screen and (min-width: 340px) {
                    font-size: 13px;
                    
                }
        
                @media screen and (min-width: 480px) {
                    font-size: 15px;
                }
        
        
                @media screen and (min-width: 768px) {
        
                    font-size: 20px;
                  
                }
        
                @media screen and (min-width: 1024) {
                    
                }
        
                @media screen and (min-width: 1280px) {
                    font-size:15px;
                    
        
                }
                    }

            :is(.texto h1, h2, p) {
                margin: 20px;
            }
        }

        .image {
            grid-column: 2;
            align-self: center;

            img {
                max-width: 100%;
                height: auto;
                border-radius: 5px;
            }
        }

    }

}

.tienda {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    padding: 20px;
   

    h1,
    h2 {

        text-align: center;
        margin: 25px;
        padding: 5px;
    }

    .cont-prod {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .producto {
        display: inline-block;
        vertical-align: top;
        width: 200px;
        margin: 10px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.457);
        border-radius: 5px;
        text-align: center;


        img {
            width: 150px;
            height: 150px;
        }

        .boton {
            @include boton;
        }
    }

}


//portfolio

.portfolio {}


//contacto

.contacto {


    .contenedor_contacto {
        display: flex;
        background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);

        img {
            width: 60%;
            opacity: 80%;
            margin: 25px;
            border-radius: 5px;
        }

        .contenedor_form {
            display: flex;
            flex-direction: column;
            padding: 20px;
            align-items: center;
            justify-content: center;
        }

        h1 {
            font-size: 20px;
            margin: 5px;
        }

        h2 {
            font-size: 15px;
            margin: 15px;
        }
    }


    .form {

        padding: 10px;

        input[type="text"],
        [type="email"],
        [id="mensaje"] {
            color: #333;
            font-size: 16px;
            font-family: Arial, sans-serif;
            font-weight: bolder;
            background-color: rgb(241, 176, 247);
            ;
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
            border-style: dashed;
            border-radius: 5px;
        }

        input[type="submit"] {
            height: 50px;
            width: 150px;
            border-radius: 3px;
            font-weight: 600;
            background-color: black;
            color: white;
            font-size: 18px;
        }

        input[type="submit"]:hover {
            color: black;
            background: rgb(204, 0, 223);
        }
    }
}