 .navbar {

 	display: flex;
 	flex-direction: row;

 	a {
 		color: $color-primary;
 	}

 	ul {

 		text-decoration: none;
 		align-items: center;
 	}

 	img {
 		width: 100px;
 		margin-left: 50px;
 	}


 	.navbar-toggler {
 		border-color: $color-primary;
 		margin: 25px;

 		&:focus {
 			box-shadow: $color-secondary;
 		}
 	}

 	.navbar-collapse {
 		flex-grow: inherit;
 	}
 }