.navbar {


	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;


	a.navbar-brand {


		img {
			width: 100px;
			margin-left: 50px;
		}
	}

	.container-fluid {


		.navbar-toggler {
			border-color: $color-primary;
			margin: 25px;

			&:focus {
				box-shadow: $color-secondary;
			}
		}
	}


}

.collapse.navbar-collapse {
	flex-grow: inherit;
}

@media (max-width:375px) {

	.collapse.navbar-collapse {
		background-color: black;
	}
}

.nav-link {

	color: $color-primary;



	&:focus {
		color: $color-secondary;
	}

	&:hover {
		color: $color-secondary;
	}
}

.container-fluid {}