//hacer un mixin con el boton.


@mixin boton {

    background-color: $color-primary;
    color: white;
    margin: 20px;
    padding: 5px;

    &:hover {
        background: $color-secondary;
    }
}

.top {
        
    display: flex;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    color: #fff;
  
}
