//hacer un mixin con el boton.


@mixin boton {

    background-color: $color-primary;
    color: white;
    margin: 20px;
    padding: 5px;

    &:hover {
        background: $color-secondary;
    }
}


@mixin desktop ($media : $lg) {
    @media screen and (min-width: $media) {
        @content; 
        width: 20%;
    }
}

@mixin tablet ($media : $md) {
    @media screen and (min-width: $media) {
        @content;
        width: 30%;
    }
}

@mixin mobile ($media : $sm) {
    @media screen and (min-width: $media) {
        @content;
        width: 60%;
    }
}